<div class="main">
  <h1>Some comments</h1>

  <section class="testimonials">
    <div class="testimonial">
      <h3>Mailén Huens</h3>
      <p>David is first of all a great person, excellent companion who is always willing to help you, generous and supportive. I emphasize its capacity and rapidity of learning, resilience, is extremely persevering, meets all the objectives and goals that is proposed. The truth that having him as a partner was a beautiful experience and made everything much more bearable. He would certainly be a great collaborator for any company. Hopefully life will cross us as colleagues at some point.</p>
    </div>

    <div class="testimonial">
      <h3>Tomás Seiberl</h3>
      <p>Despite being at a higher level of knowledge in the same subjects that I focus on David knew how to support me not to give up on what I studied and I tried.
        A total genius in teamwork both to support those who are behind, a true member of a team.
       Greetings and good luck in your class.</p>
    </div>

    <div class="testimonial">
      <h3>Matias Marianetti</h3>
      <p>David is a great person always willing to help others and pass on all their knowledge and experience. 
        I’m glad I ran into you at this stage!
        Greetings!</p>
    </div>
  </section>
</div>