<div class="grid home_page"></div>

<div class="intro ">
  <div class="content-img">
    <img src="assets/images/logo.svg" alt="intro">
  </div>
  <div class="texto">
    <h2>I'm David Cuspoca, <br> FullStack web developer. </h2>
    <p>I specialize in Angular and NodeJS</p>
    <button
      mat-raised-button
      color="primary"
    >
      <a href="assets/david-cuspoca-cv.pdf" target="_blank" download="david-cuspoca-cv.pdf">
        DOWNLOAD CV
      </a>
    </button>
  </div>
</div>

<app-about-me></app-about-me>