.home_page {
  background: linear-gradient(145deg, rgb(13, 71, 161), rgb(25, 118, 210));
  color: rgb(255, 255, 255);
  position: absolute;
  min-height: 480px;
  height: 80vh;
  max-height: 560px;
  transform: skewY(8deg);
  transform-origin: 100%;
  overflow: hidden;
  width: 100%;
  /* padding: 48px 48px 32px; */
  z-index: -1;
};

.intro{
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

  img{
    width: 330px;
  }

  .texto {
    color: white;

    p{
      font-size: 2rem;
    }
  };

};




@media screen and (max-width: 1150px) {

  .intro{
    flex-direction: column;
    justify-content: center;

    .content-img{
      display: flex;
      justify-content: center;
    }

    .texto{
      text-align: center;
    }
  }

};