<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{project.title}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="project.image" [alt]="project.title">
  <mat-card-content>
    <p class="text-justify">{{ project.description }}</p>
    <p>{{ project.notes }}</p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="openWindow(project.demo)">
      Demo
    </button>

    <button mat-button (click)="openWindow(project.repo)">
      Repositorio
    </button>
  </mat-card-actions>
</mat-card>