<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="over" [ngStyle]="{'width': '250px'}">
    <mat-toolbar>
      <span>Menú</span>
      <span class="spacer"></span>
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <!-- aqui viene la lista de opciones del menu -->

    <mat-nav-list>
      <mat-list-item
        *ngFor="let item of menu"
        [routerLink]="item.url"
        (click)="sidenav.toggle()"
      >
        <mat-icon
          matListItemIcon
        >
          {{item.icon}}
        </mat-icon>
        {{item.label}}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary" [ngStyle]="{'background': 'linear-gradient(145deg, rgb(13, 71, 161), rgb(25, 118, 210))'}">
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      class="btn-openMenu"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <img 
      src="assets/images/logo.svg" 
      alt="logo david cuspoca">

    <button
      *ngFor="let item of menu"
      class="menu-large-screen"
      mat-button
      routerLink="{{item.url}}"
    >
      {{item.label}}
    </button>

    <span class="spacer"></span>

    <button
      mat-icon-button
      (click)="changeTheme()"
    >
      <mat-icon>{{ (dark_mode) ? 'dark_mode':'light_mode' }}</mat-icon>
    </button>

    <mat-divider 
      [vertical]="true"
      [ngStyle]="{'backGroundColor': 'white',
                  'border': '1px solid',
                  'height': '60%',
                  'margin': '0 8px'}"></mat-divider>

    <button
      mat-icon-button
      *ngFor="let item of social"
      (click)="openOtherSite(item.url)"
    >
      <i class="{{item.icon}}"></i>
    </button>

    <!-- aqui pueden ir mas botones -->
  </mat-toolbar>

  <div class="container p-2">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>