<div class="main">
  <h1>About Me</h1>
  <p>My name is david cuspoca, I am FrontEnd developer with solid knowledge of the backend side. Passionate about
    programming, solving problems through codigo is simply satisfying. Professional very dedicated and committed.</p>

  <section>

    <div>
      <h1>Frameworks and Libraries</h1>
      <hr>
      <ul>
        <li>Angular +12</li>
        <li>ReactJs +17</li>
        <li>NestJS</li>
        <li>Express</li>
        <li>JWT</li>
      </ul>
    </div>

    <div>

      <h1>Other Technologies.</h1>
      <hr>
      <ul>
        <li>Docker</li>
        <li>Digital Ocean</li>
        <li>Postman</li>
        <li>Linux</li>
      </ul>
    </div>

    <div>
      <h1>Soft Skills</h1>
      <hr>
      <ul>
        <li>Problem solving.</li>
        <li>
          Teamwork.
        </li>
        <li>
          Effective communication.
        </li>
      </ul>
    </div>
  </section>
</div>
<app-terminios></app-terminios>
<app-footer></app-footer>
